version: '3'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: searchdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

  api:
    build: .
    ports:
      - "8081:8080"
    depends_on:
      - postgres
    restart: unless-stopped
    environment:
      - DB_HOST=postgres
      - DB_PORT=5435
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=searchdb